<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <form>
                <fieldset disabled>
                  <legend>Crear Nuevo Usuario</legend>
                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Nombre</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                  </div>

                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Apellido</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                  </div>

                  <div class="mb-3">
                    <label for="disabledTextInput" class="form-label">Edad</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                  </div>
                 
                
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </fieldset>
              </form>
               <a href="http://localhost:3000/usuarios">Volver</a>

        </div>
    </div>
    
</body>
</html>